body {
    font-family: Arial, sans-serif;
    background-color: #054F77;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.temperatures {
    margin-bottom: 20px;
}

p, h1, h2, h3{
    color: #FFFFFF;
}

button {
    padding: 10px 20px;
    background-color: #EE8538;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #7EC845;
}
#historico{
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
}

#historico li{
    margin-left: -45px;
    width: 70%;
    padding: 12px;
    border-radius: 12px;
    background-color: #EE8538;
    list-style: none;

}